@tailwind base;
@tailwind components;


:root {
  --sds-size-space-300: 1rem;
  /* ou toute autre valeur */
  --sds-size-space-200: 0.5rem;
  --sds-size-radius-200: 0.25rem;
  --sds-size-stroke-border: 1px solid #ccc;
  --Text-Brand-On-Brand: #F5F5F5;
  --sds-size-space-300: 1rem;
  --sds-size-space-200: 0.5rem
}

@font-face {
  font-family: "Satoshi";
  src: url('./assets/fonts/Satoshi/Fonts/OTF/Satoshi-Bold.otf') format('opentype'),
    url('./assets/fonts/Satoshi/Fonts/OTF/Satoshi-Medium.otf') format('opentype'),
  ;
}

@font-face {
  font-family: 'Lufga';
  src: url('./assets/fonts/Lufga/Demo_Fonts/Fontspring-DEMO-lufga-regular.otf') format('opentype'),
    url('./assets/fonts/Lufga/Demo_Fonts/Fontspring-DEMO-lufga-medium.otf') format('opentype');
}

@layer components {

  /* navbar */
  .logo {
    text-align: left;
    font-weight: 800;
    font-size: 28px;
    letter-spacing: -1px;
    color: #285246;
  }

  .logo-icon {
    width: 45px;
    height: 45px;
  }

  .accueil-btn {
    width: 236px;
    height: 50px;
    /* padding: var(--sds-size-space-300); */
    gap: var(--sds-size-space-200);
    border-radius: var(--sds-size-radius-200);
    border: var(--sds-size-stroke-border);
    background: #285246;
    font-family: "Satoshi";
    font-size: 15px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    color: #F5F5F5;
  }

  .bg-Box-world{
    background-image: url("../src/images/about/boxBg.png");
    background-repeat: no-repeat;
    background-position: -10% 92%;
  }

  .accueil-btn-start {
    width: 236px;
    height: 50px;
    /* padding: var(--sds-size-space-300); */
    gap: var(--sds-size-space-200);
    border-radius: var(--sds-size-radius-200);
    border: var(--sds-size-stroke-border);
    background: #285246;
    font-family: "Satoshi";
    font-size: 15px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    color: #F5F5F5;
  }

  .verification-identiter {
    width: 441px;
    height: 405px;
    border-radius: 17px;
    background: #EEEEEE;
  }

  .verification-biometrique {
    width: 441px;
    height: 405px;
    border-radius: 17px;
    background: #B9FFC4;

  }

  .preuve-adresse {
    width: 441px;
    height: 405px;
    border-radius: 17px;
    background: #EEEEEE;
  }

  .detection-appareil {
    width: 441px;
    height: 405px;
    border-radius: 17px;
    background: #B9FFC4;
  }

  .sactions {
    width: 441px;
    height: 405px;
    border-radius: 17px;
    background: #EEEEEE;
  }

  .nav-language {
    font-family: "Inter";
    font-size: 15px;
    font-weight: 400;
    line-height: 15.13px;
    text-align: left;
    color: #000000;
  }

  nav ul li .text-nav {
    font-family: "Inter";
    font-size: 12.5px;
    font-weight: 400;
    line-height: 15.13px;
    text-align: left;
    color: #5A5A5A;
  }

  nav ul li svg {
    width: 11px;
    height: 5px;
  }

  .text-nav {
    font-family: "Inter";
    font-size: 12.5px;
    font-weight: 400;
    line-height: 15.13px;
    text-align: left;
    color: #5A5A5A;
  }

  .navbar-btn {
    width: 128px;
    height: 36px;
    padding: var(--sds-size-space-300);
    gap: var(--sds-size-space-200);
    border-radius: var(--sds-size-radius-200);
    font-family: "Satoshi";
    font-size: 15px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
    color: #F5F5F5;
  }

  .btn {
    width: 236px;
    height: 50px;
    padding: 1rem;
    gap: .5rem;
    border-radius: .5rem;
  }

  .btn-contacter-phone {
    width: 182px;
    height: 49px;
    padding: 0px var(--sds-size-space-300) 0px var(--sds-size-space-300);
    gap: var(--sds-size-space-200);
    border-radius: var(--sds-size-radius-200);
    font-family: "Satoshi";
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;


  }

  .btn-nav {
    width: 160px;
    height: 45px;
    padding: 1rem;
    gap: .5rem;
    border-radius: .5rem;
  }

  .btn-nav-text {
    font-family: "Satoshi";
    font-size: 16px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
    color: #F5F5F5;
  }

  .nav-select {
    font-family: "Inter";
    font-size: 12.5px;
    font-weight: 400;
    line-height: 15.13px;
    text-align: left;
  }

  .world-icon {
    width: 210x;
    height: 20px;
  }

  .btn-verification {
    width: 183px;
    height: 33px;
    padding: 10px;
    gap: 10px;
    background: #FFFFFF;
  }

  .btn-verification-text {
    font-family: "Satoshi";
    font-size: 11px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: #285246;
  }

  .btn-text {
    font-family: "Satoshi";
    font-size: 15px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    color: var(--Text-Brand-On-Brand);
  }

  .btn-icon-circle {
    width: 32px;
    height: 32px;
    padding: 10px 5px 10px 5px;
    gap: 10px;
    border-radius: 31px;
    color: #285246F5;
  }

  /* end navbar  */

  /* start sidebard  */
  .sidebar-li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 0;
    width: 100%;
    border-bottom: 1px solid #C1B8B6;
  }

  .sidebar-li-about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 0;
    width: 100%;
  }

  /* end sidebard  */

  /* section-1  */
  .btn-icon-cart {
    width: 70px;
    height: 70px;
    gap: 0px;
    border-radius: 31px;
    background: #B9FFC469;
  }

  .btn-footer-deep {
    width: 228px;
    height: 58px;
    padding: var(--sds-size-space-300);
    gap: var(--sds-size-space-200);
    border-radius: var(--sds-size-radius-200);
    background: #285246;
    font-family: "Satoshi";
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    color: white;

  }

  .btn-footer-white {
    width: 228px;
    height: 58px;
    padding: var(--sds-size-space-300) 11px var(--sds-size-space-300) 11px;
    gap: var(--sds-size-space-200);
    border-radius: var(--sds-size-radius-200);
    color: #285246;
    font-family: "Satoshi";
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    background-color: white;

  }

  .card-icon-title {
    font-family: "Satoshi";
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #285246;
  }


  .card-icon-content {
    font-family: "Inter";
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #285246;
  }

  /* end section-1  */


  .card-choice {
    width: 219px;
    height: 131px;
    padding: 16px 13px 16px 13px;
    gap: 10px;
    border-radius: 7px;
    background: #DFFCE3;
  }

  .card-choice-title {
    font-family: "Satoshi";
    font-size: 29px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -2px;
    text-align: center;
    color: #2CE5B1;
  }

  .card-choice-content {
    font-family: "Satoshi";
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    text-align: center;
    color: #285246;
  }

  .mini-card-connexion {
    display: grid;
    grid-template-columns: repeat(auto-fit, 13rem);
    /* Utilisez minmax pour une meilleure flexibilité */
    align-items: center;
    justify-content: center;
    gap: 19px;
  }

  .card-choice-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 15rem);
    /* Utilisez minmax pour une meilleure flexibilité */
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 19px;
    padding: 2rem 0 10rem 0;
  }

  .mini-card-square {
    width: 164px;
    height: 164px;
    gap: 0px;
    border-radius: 29px;
    background: #EBEBEB;
  }

  .mini-card-square-title {
    font-family: "Satoshi";
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;

  }

  .mini-card-square-content {
    font-family: "Satoshi";
    font-size: 10px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;

  }

  .accordion-title {
    font-family: "Satoshi";
    font-size: 12px;
    font-weight: 900;
    line-height: 19px;
    text-align: left;
    color: #285246;
  }

  .accordion-content {
    font-family: "Satoshi";
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    color: #285246;
  }


  .btn-small {
    width: 111px;
    height: 25px;
    padding: 10px;
    gap: 10px;
    border-radius: 11px;
    background: #2CE5B1;
  }

  .btn-choice {
    width: 139px;
    height: 34px;
    padding: 10px 10px 10px 10px;
    gap: 10px;
    border-radius: 11px;
    background: #2CE5B1;
    font-family: Satoshi;
    font-size: 11px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
  }

  .btn-about-us {
    width: 111px;
    height: 25px;
    padding: 10px;
    gap: 10px;
    border-radius: 50%;
    font-family: "Satoshi";
    font-size: 11px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    background: #2CE5B1;

  }

  .box-vector{
    background-image: url("../src/images/about/boxVector.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
  }

  .big-btn-about-us {
    width: 182px;
    height: 51px;
    padding: 1rem;
    gap: .5rem;
    border-radius: var(--sds-size-radius-200);
    font-family: "Satoshi";
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    color: #F5F5F5
  }

  /* .roboto-medium {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
  } */


  .title {
    font-family: "Satoshi";
    font-size: 45px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -2px;
    text-align: left;
    color: #285246;
  }

  .title-content {
    font-family: "Satoshi";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #285246;
  }

  .title-content-selfie-screening {
    font-family: "Satoshi";
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    color: #285246;
  }

  .title-content-selfie-screening-span {
    font-family: "Satoshi";
    font-size: 12px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    color: #285246;
  }

  .sub-title {
    font-family: "Satoshi";
    font-size: 35px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: #285246
  }

  .title-1 {
    font-family: "Satoshi";
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -1px;
    text-align: left;
    color: #285246
  }

  .title-content-1 {
    font-family: "Satoshi";
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #285246
  }

  .title-content-card {
    font-family: "Satoshi";
    font-size: 12px;
    font-weight: 500;
    line-height: 13px;
    text-align: left;
    color: #285246
  }

  .card-vert {
    width: 441px;
    height: 118px;
    gap: 0px;
    border-radius: 29px;
    background: #2CE5B1;
  }

  .card-horiz {
    width: 205px;
    height: 264px;
    gap: 0px;
    border-radius: 29px;
    background: #2CE5B1;
  }

  .small-check-circle {
    width: 25px;
    height: 25px;
    gap: 0px;
    background: #2CE5B1;
    color: white;
    padding: .2rem;
  }

  .content-small-circle-check {
    font-family: "Satoshi";
    font-size: 12px;
    font-weight: 500;
    line-height: 13px;
    text-align: left;
    color: #285246;
  }

  .cniPassport {
    top: -25%;
    left: 10%
  }
}

.mini-card-connexion-mobile {
  display: none;
}

.sidebar-group-btn {
  display: none;
}

.menu-bars {
  display: none;
}

/* .menu-bars-md{
  display: none;
} */


/* 
.accueil .women-selfie {
  background-image: url("../src/images/women--background-accueil.png");
  background-repeat: no-repeat;
  background-position: 100% 10%;
} */

.world-section-content {
  margin-top: 180px;
  /* background-color: fuchsia; */
}

.world-section {
  background-image: url("../src/images/world.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.background-footer {
  background-image: url("../src/images/Vector.png");
  background-repeat: no-repeat;
  background-position: 100% 10%;
  background-size: cover;
  width: 715.18px;
  height: 381.01px;
}

.grid-footer-grid-title {
  font-family: "Lufga";
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #285246
}

.grid-footer-grid-content {
  font-family: Open Sans Hebrew;
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #285246;
}

.footer-grid-logo {
  font-family: "Satoshi";
  font-size: 20px;
  font-weight: bold;
  line-height: 47px;
  letter-spacing: -2px;
  text-align: left;
  color: #285246;
}

/* @media (max-width:1390px) {

  .background-footer{
    width: 690px;
    height:300px;

  }
  .main-footer{
    padding: 2rem;
  }
} */

.section-tree-col-selfie {
  margin: 0 5rem;
}

.cni-img {
  transform: translateX(10%);
  opacity: 0;
  transition: transform 1.5s ease-out, opacity .4s ease-out;
}

.cni-img.active {
  transform: translateX(0);
  opacity: 1;
}

.bigMother {
  position: absolute;
  top: -45.5%;
  left: 3%;
  transform: translateX(-10%);
  opacity: 0;
  transition: transform 1.5s ease-out, opacity .4s ease-out;
}

.bigMother.active {
  transform: translateX(0);
  opacity: 1;
}

.bigMother-wrap {
  transform: translateX(-10%);
  opacity: 0;
  transition: transform 1.5s ease-out, opacity .4s ease-out;
}

.bigMother-wrap.active {
  transform: translateX(0);
  opacity: 1;
}

.girl-cni {
  transform: translateX(10%);
  opacity: 0;
  transition: transform 1.5s ease-out, opacity .4s ease-out;
}

.girl-cni.active {
  transform: translateX(0);
  opacity: 1;
}

.group-database {
  transform: translateX(-10%);
  opacity: 0;
  transition: transform 1.5s ease-out, opacity .4s ease-out;
}

.group-database.active {
  transform: translateX(0);
  opacity: 1;
}

/* .groupDatabase {
  position: absolute;
  top: 5%;
  left: 0;
  height: 90%;
} */

.group-card-vert {
  padding: 0 3rem;
}

.group-card-horiz {
  padding: 0 3rem;
}

.mini-nav-items .mini-nav-item-active {
  border-bottom: solid 5px #5edeaf;
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-wrap: nowrap;
}

.mini-nav-btn {
  width: 111px;
  height: 25px;
  padding: 10px;
  gap: 10px;
  border-radius: 11px;
}

.mini-nav-btn-text {
  font-family: "Satoshi";
  font-size: 11px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

.mini-nav-side-title {
  font-family: "Lufga";
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -1px;
  text-align: left;
  color: #18382B;
}

.mini-nav-side-content {
  font-family: "Satoshi";
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  color: #1E1E1E;
}

.mini-nav-grid-title {
  font-family: "Satoshi";
  font-size: 12px;
  font-weight: 700;
  line-height: 13px;
  text-align: left;
  color: #285246;
}

.mini-nav-grid-content {
  font-family: "Satoshi";
  font-size: 12px;
  font-weight: 500;
  line-height: 13px;
  text-align: left;
  color: #285246;
}

.mini-nav-option {
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-wrap: nowrap;
  padding: 10px 0;
  color: #18382B;
}

/* page Know your customer  */

.customer-btn-first {
  width: 90px;
  height: 31px;
  padding: 10px;
  gap: 10px;
  border-radius: 7px;
  background: #DFFCE3;

}

.customer-btn-second {
  width: 164px;
  height: 31px;
  padding: 10px;
  gap: 10px;
  border-radius: 7px;
  background: #DFFCE3;
}

.text-btn {
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
}

.title-page-2 {
  font-family: "Satoshi";
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: -2px;
  text-align: left;
  color: #285246;
}

.title-content-page-2 {
  font-family: "Satoshi";
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #285246;
}

.customer-page-vector {
  background-image: url("../src/images/screening/vector.png");
  background-repeat: no-repeat;
  background-position: 100% 60%;
}



.customer-page {
  padding: 10rem 0;
  background-image: url('../src/images/bg-page-2.png');
  background-position: 100% 60%;
  background-repeat: no-repeat;
  background-size: 40%;
  z-index: 10;
}

.customer-page-wrap {
  background-image: url('../src/images/screening/vector.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}



.sub-title-page-2 {
  margin-left: 3rem;
  padding: 0 2rem;
}

.screening-section2-title {
  padding: 15rem 8.5rem 0 8.5rem;
}

@media (max-width:1432px) {
  .customer-page {
    background-position: 100% 60%;
  }
  .screening-page {
    background-position: 100% 60%;
  }
}

@media (max-width:1168px) {
  .customer-page {
    background-position: 100% 65%;
  }
  .screening-page {
    background-position: 100% 65%;
  }
}

@media (max-width:1024px) {
  .order-img {
    order: 1;
  }
}

.phone-accordion {
  padding: 0 5rem;
}

.footer-section {
  padding: 0 5rem;
}

@media (max-width : 736px) {
  /* .accueil .women-selfie {
    background-image: none;
  } */

  /* .accueil .women-selfie .title{
    text-align: justify;
  } */
  .accueil .accueil-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: auto;
    margin: 0 1rem; */
  }

  .background-footer {
    display: none;
  }

  .section-tree-col-selfie {
    margin: 0 1rem;
  }

  .footer-section {
    padding: 0 0rem;
  }

  .footer-section-text {
    padding: 0 2rem;
  }

  .card-vert {
    width: 330px;
    height: 118px;
  }

  .card-horiz {
    width: 150px;
    height: 180px;
  }

  .bigMother {
    position: absolute;
    top: -45%;
    left: 11%;
    width: 90%;
  }

  .group-card-vert {
    padding: 0 2rem;
  }

  .group-card-horiz {
    padding: 0 2rem;
  }

  .cni-img {
    /* position: absolute; */
    /* top: -20%;
    left: 0; */
    /* width: 325px;
    height: 251px; */
    /* background-color: cadetblue; */
  }

 

  .world-section {
    background-size: contain;
    padding: 0 2rem;
  }

  .phone-accordion {
    padding: 0 2rem;
  }

  .img-arrow {
    display: none;
  }

  .card-choice-items {
    gap: 19px;
  }

  .mini-card-square {
    width: 300px;
    height: 200px;
  }

}

.accordion {
  display: none;
}

/* start customer page */
.customer-page {
  width: 383.97px;
  height: 387px;
  bottom: 16%;
  right: 15%;
  background-size: contain;
  background-image: url('../src/images/customer/customer-bg.png');
  background-repeat: no-repeat;
}

.screening-page-bg {
  width: 383.97px;
  height: 387px;
  bottom: 16%;
  right: 15%;
  background-size: contain;
  background-image: url('../src/images/screening/screening-bg.png');
  background-repeat: no-repeat;
}

.card-scroll-horiz-screening{
  margin-top: 20rem;
}

.customer-selfie-section {
  background-image: url("../src/images/page-2/Vector.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
}

/* end customer page  */

/*start screening page  */

.screening-page {
  background-image: url('../src/images/screening/vector.png');
  background-position: 90% 60%;
  /* Ajustez la position selon vos besoins */
  background-repeat: no-repeat;
  /* background-color: cadetblue; */
  /* Évite la répétition des images */
}

.screening-absolute-bg {
  width: 383.97px;
  height: 387px;
  bottom: 16%;
  right: 15%;
  background-image: url('../src/images/screening/screening-bg.png');
  background-repeat: no-repeat;
}

/* start footer  */
.footer-absolute-bg {
  width: 422px;
  height: 449px;
  bottom: 2%;
  right: 10%;
  background-image: url('../src/images/footer/footer-bg.png');
  background-repeat: no-repeat;
}

.footer-accueil-absolute-bg {
  width: 482.12px;
  height: 444px;
  bottom: 2.5%;
  right: 10%;
  background-image: url('../src/images/accueil/image.png');
  background-repeat: no-repeat;
}

textarea {
  font-family: Open Sans Hebrew;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #285246;
}

.btn-send-letter {
  width: 364px;
  height: 38px;
  gap: 0px;
  border-radius: 5px;
  background: #285246;
  font-family: Open Sans Hebrew;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;

}

.footer-page {
  background-image: url('../src/images/footer/vector-white.png');
  background-position: bottom right;
  /* Ajustez la position selon vos besoins */
  background-repeat: no-repeat;
  /* Évite la répétition des images */
}

.footer-page-order {
  background-image: url('../src/images/footer/vector-white.png');
  background-position: bottom center;
  /* Ajustez la position selon vos besoins */
  background-repeat: no-repeat;
  /* Évite la répétition des images */
}

/* end footer  */

/* start pricing */
.pricing-input {
  width: 277px;
  height: 50px;
  padding: var(--sds-size-space-300);
  gap: var(--sds-size-space-200);
  border-radius: var(--sds-size-radius-200);
  background: #F3F3F3;
}

.pricing-get-account-link {
  font-family: Lufga;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  color: #285246;
}

.pricing-contact-btn {
  padding-top: 5rem;
  width: 111px;
  height: 25px;
  padding: 10px;
  gap: 10px;
  border-radius: 11px;
  background: #2CE5B1;
  font-family: Satoshi;
  font-size: 11px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: white;
}

.pricing-title {
  font-family: "Satoshi";
  font-size: 33px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: -2px;
  text-align: left;
  color: #285246;
}

.pricing-content {
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #1E1E1E;
}

.pricing-label {
  font-family: "Satoshi";
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  color: #5B5B5B;
}

@media (min-width:1200px) {
  .pricingCard {
    display: grid;
    grid-template-columns: repeat(auto-fit, 18rem);
    /* Utilisez minmax pour une meilleure flexibilité */
    align-items: center;
    justify-content: center;
    gap: 19px;
  }
}

/* end pricing  */

/* start about  */

.about-btn-title {
  width: 111px;
  height: 25px;
  top: 118px;
  left: 721px;
  padding: 10px;
  gap: 10px;
  border-radius: 11px;
  background: #2CE5B1;
  font-family: "Satoshi";
  font-size: 11px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

.about-title {
  font-family: "Satoshi";
  font-size: 45px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: -2px;
  text-align: center;
  color: #285246;
}

.section-about{
  background-image: url("../src/images/about/Vector.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 830px 442px;
}

.about-content {
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: #285246;
}

.about-subtitle {
  font-family: "Satoshi";
  font-size: 31px;
  font-weight: 400;
  line-height: 37px;
  text-align: center;
  color: #285246;
}

.about-cart-title {
  font-family: "Satoshi";
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -1px;
  text-align: left;
  color: #18382B;
}

.about-cart-content {
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #285246;
}

.about-box {
  width: 219px;
  height: 131px;
  padding: 16px 13px 16px 13px;
  gap: 10px;
  border-radius: 7px;
  background: #DFFCE3;
}

.about-box-title {
  font-family: "Satoshi";
  font-size: 29px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: -2px;
  text-align: center;
  color: #2CE5B1;
}

.about-box-content {
  font-family: "Satoshi";
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  color: #285246;
}

.about-dotted-title {
  font-family: "Satoshi";
  font-size: 40px;
  font-weight: 700;
  line-height: 37px;
  text-align: left;
  color: #B9FFC4;
}

.about-dotted-content {
  font-family: "Lufga";
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  color: #FFFFFF;
}

.about-process-title {
  font-family: "Satoshi";
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -1px;
  text-align: center;
  color: #285246;
}

.about-process-content {
  font-family: "Satoshi";
  font-size: 13px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  color: #285246;
}

.card-dotted {
  width: 287px;
  height: 310px;
  padding: 27px 36px 35px 36px;
  gap: 36px;
  border-radius: 25px;
  background: #FFFFFF;
}

.card-dotted-title {
  font-family: "Lufga";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -1px;
  text-align: left;
  color: #18382B;
}

.card-dotted-content {
  font-family: "Satoshi";
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #767676;
}

.womenSelfie {
  bottom: 0%;
  left: 4%;
}

.about-womenselfie-title {
  font-family: "Satoshi";
  font-size: 25px;
  font-weight: 400;
  line-height: 37px;
  text-align: left;
  color: #285246;
}

.about-women-subtitle {
  font-family: "Satoshi";
  font-size: 12px;
  font-weight: 700;
  line-height: 37px;
  text-align: left;
  color: #285246;
}

.about-women-subcontent {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: #285246;
}

.about-mininav-title {
  font-family: "Satoshi";
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -1px;
  text-align: left;
  color: #285246;
}

.about-mininav-content {
  font-family: "Satoshi";
  font-size: 13px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  color: #285246;
}

/* end about  */

/* start connexion  */
.connexion-side2-title {
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  color: #285246;
}

.connexion-side2-content {
  font-family: "Satoshi";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #285246;
}

.connexion-picture {
  bottom: 0;
}

.creation-picture {
  bottom: 0;
  left: -3.5rem;
}

.btn-account {
  width: 186px;
  height: 50px;
  top: 277px;
  padding: var(--sds-size-space-300);
  gap: var(--sds-size-space-200);
  border-radius: var(--sds-size-radius-200);
  border: var(--sds-size-stroke-border);
  background: #2CE5B1;
  font-family: "Satoshi";
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
  color: #FFFFFF;
}

.btn-has-account {
  width: 242px;
  height: 50px;
  top: 277px;
  left: 206px;
  padding: var(--sds-size-space-300);
  gap: var(--sds-size-space-200);
  border-radius: var(--sds-size-radius-200);
  border: var(--sds-size-stroke-border);
  background: #F2F2F2;
}

.btn-has-account-grey-text {
  font-family: "Satoshi";
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  color: #898989;
}

.btn-has-account-black-text {
  font-family: "Satoshi";
  font-size: 12px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  color: #285246;
}

.connexion-connect {
  font-family: "Satoshi";
  font-size: 33px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: -2px;
  text-align: left;
  color: #285246;
}

.connexion-side3-logo {
  text-align: left;
  font-weight: 700;
  font-size: 24px;
}

.connexion-side3-content {
  font-family: "Lufga";
  font-size: 10px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  color: #B7B7B7;
}

/* end connexion  */

/* start verification  */

.verification-input {
  width: 69px;
  height: 50px;
  padding: var(--sds-size-space-300);
  gap: var(--sds-size-space-200);
  border-radius: var(--sds-size-radius-200);
  background: #DBF0EA;
  font-family: "Satoshi";
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-align: left;
  color: #285246;
}

/* end verification  */

.screening-section1-title {
  font-family: "Satoshi";
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: -2px;
  text-align: left;
  color: #285246;
  z-index: 20;
}

.footer-title {
  font-family: "Satoshi";
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: -2px;
  text-align: left;
  color: #285246;
}


.screening-section1-content {
  font-family: "Satoshi";
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: #285246;
}

.footer-content {
  font-family: "Satoshi";
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: #285246;
}

.screening-big-btn {
  width: 182px;
  height: 51px;
  padding: var(--sds-size-space-300);
  gap: var(--sds-size-space-200);
  border-radius: var(--sds-size-radius-200);
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
  color: #285246;
}

.screening-big-btn-transparent {
  width: 239px;
  height: 51px;
  font-family: "Satoshi";
  border-radius: var(--sds-size-radius-200);
  font-size: 14px;
  font-weight: 700;
  line-height: 37px;
  text-align: left;
  color: #285246;
  border: 1px solid;
}

.screening-section1-card-title {
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  color: #285246;
}

.screening-section1-card-content {
  font-family: "Satoshi";
  font-size: 11px;
  text-align: left;
  color: #285246;
}

.screening-card-absolute {
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  /* Ajustez cette valeur selon vos besoins */
  max-width: 1500px;
  /* Limite la largeur maximale si nécessaire */
  top: 80%;
  /* Optionnel si vous souhaitez centrer verticalement */
  margin: 0 auto;
}

.screening-section2-title {
  font-family: "Satoshi";
  font-size: 35px;
  font-weight: 500;
  line-height: 37px;
  text-align: left;
  color: #285246;
}

.screening-horiz-vert-title {
  font-family: "Satoshi";
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -1px;
  text-align: left;
  color: #285246;
}

.screening-horiz-vert-content {
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #285246;
}

.screening-grid-title {
  font-family: "Satoshi";
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  text-align: left;
  color: #285246;
}

.screening-grid-content {
  font-family: "Satoshi";
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: left;
  color: #285246;
}

.sreening-demo-absolute {
  left: 50%;
  transform: translateX(-50%);
  top: 78%;
}

@media (max-width:1300.27px) {
  .card-scroll-horiz-screening{
    margin-top: 25rem;
  }
}

@media (max-width:1231.20px) {
  .btn-accounts {
    display: flex;
    flex-wrap: wrap-reverse;
  }

}

@media (min-width:1400) {
  .screening-section2-title {
    padding-top: 15rem;
  }

  .screening-section2-title {
    padding: 15rem 8.5rem 0 8.5rem;
  }
}

@media (min-width:1500px) {
  .screening-section2-title {
    padding-top: 13rem;
  }
}

/* end screening page */


@media (max-width:1540px) {
  .sub-title-page-2 {
    padding-top: 12rem;
  }

  .screening-section2-title {
    padding: 17rem 8.5rem 0 8.5rem;
  }
}

@media (max-width:1416px) {
  .sub-title-page-2 {
    padding-top: 16rem;
  }

  .screening-section2-title {
    padding: 21rem 8.5rem 0 8.5rem;
  }
}

@media (max-width:1236px) {
  .sub-title-page-2 {
    padding-top: 20rem;
  }

  .registration-middle {
    display: none;
  }
}


@media (max-width:1070px) {
  .sub-title-page-2 {
    padding-top: 24rem;
  }

  .screening-section2-title {
    padding: 22rem 8.5rem 0 8.5rem;
  }
}

@media (max-width:960px) {
  .sub-title-page-2 {
    padding-top: 24rem;
  }
}

@media (max-width:936px) {
  .sub-title-page-2 {
    padding-top: 25rem;
  }
}

@media (max-width:832px) {
  .sub-title-page-2 {
    padding-top: 35rem;
  }
}

@media (max-width:778px) {
  .sub-title-page-2 {
    padding-top: 40rem;
  }
}

@media (max-width:768px) {
  .world-section-content {
    margin-top: 30px;
  }

  .section-tree-col-selfie {
    width: 100%;
    margin: 0 auto;
  }

  .title-1 {
    text-align: left;
  }

  .title-content-1 {
    text-align: left;
  }

  .btn-about {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width:710.40px) {
  .pricingCard {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    /* Utilisez minmax pour une meilleure flexibilité */
    align-items: center;
    justify-content: center;
    /* gap: 19px; */
  }
}

@media (max-width:884px) {
  .not-accordion {
    display: none;
  }

  .accordion {
    display: block;
    padding: 3rem 4rem;
  }
}

@media (max-width:639.20px) {
  .women-accueil-bg {
    height: 630px;
  }
}

@media (max-width:544px) {
  .women-accueil-bg {
    height: 550px;
  }

  .footer-page-order {
    background-image: url('../src/images/footer/vector-white.png');
    background-position: bottom center;
    /* Ajustez la position selon vos besoins */
    background-repeat: no-repeat;
    background-size: contain;
    /* Évite la répétition des images */
  }

  .title {
    font-family: "Satoshi";
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: -2px;
    text-align: center;

  }

  .accueil-btn {
    width: 160px;
    height: 48px;
    padding: .3rem;
    gap: var(--sds-size-space-200);
    border-radius: var(--sds-size-radius-200);
    border: var(--sds-size-stroke-border);
    font-family: "Satoshi";
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
  }

  .accueil-btn-clean {
    width: 160px;
    height: 48px;
    padding: var(--sds-size-space-300);
    gap: var(--sds-size-space-200);
    border-radius: var(--sds-size-radius-200);
    border: var(--sds-size-stroke-border);
    font-family: "Satoshi";
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
  }

  .verification-identiter {
    width: 290px;
    height: 380px;
    border-radius: 17px;
    background: #EEEEEE;
  }

  .verification-biometrique {
    width: 290px;
    height: 380px;
    border-radius: 17px;
    background: #B9FFC4;

  }

  .preuve-adresse {
    width: 290px;
    height: 380px;
    border-radius: 17px;
    background: #EEEEEE;
  }

  .detection-appareil {
    width: 290px;
    height: 380px;
    border-radius: 17px;
    background: #B9FFC4;
  }

  /* .img-detection-appareil{
    width: 440px;
    height: 190px;
  } */

  .sactions {
    width: 290px;
    height: 380px;
    border-radius: 17px;
    background: #EEEEEE;
  }

  .sub-title {
    font-family: "Satoshi";
    font-size: 35px;
    font-weight: 500;
    line-height: 37px;
    text-align: left;
  }

  .voir-tout-pays-phone-color {
    width: 182px;
    height: 51px;
    padding: var(--sds-size-space-300);
    gap: var(--sds-size-space-200);
    border-radius: var(--sds-size-radius-200);
    border: var(--sds-size-stroke-border);
    font-family: "Satoshi";
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;

  }

  .voir-tout-pays-phone-deep {
    width: 182px;
    height: 51px;
    padding: var(--sds-size-space-300);
    gap: var(--sds-size-space-200);
    border-radius: var(--sds-size-radius-200);
    border: var(--sds-size-stroke-border);
    font-family: "Satoshi";
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;

  }

  .footer-title {
    font-family: "Satoshi";
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -1px;
    text-align: center;

  }

  .btn-footer-deep {
    width: 182px;
    height: 51px;
    padding: var(--sds-size-space-300);
    gap: var(--sds-size-space-200);
    border-radius: var(--sds-size-radius-200);
    font-family: "Satoshi";
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    color: white;
  }

  .btn-footer-white {
    width: 182px;
    height: 49px;
    padding: 12px;
    gap: var(--sds-size-space-200);
    border-radius: var(--sds-size-radius-200);
    color: #285246;
    font-family: "Satoshi";
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    background-color: white;

  }

  .world-section {
    background-image: url("../src/images/world.png");
    background-repeat: no-repeat;
    background-position: bottom center;

  }


  .card-choice {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 185px;
    height: 111px;
  }

  .card-choice-title {
    font-family: "Satoshi";
    font-size: 29px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -2px;
    text-align: center;
  }

  .card-choice-content {
    font-family: "Satoshi";
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;

  }

  .mini-nav-grid-title {
    font-family: "Satoshi";
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
    text-align: left;

  }

  .mini-nav-grid-content {
    font-family: "Satoshi";
    font-size: 12px;
    font-weight: 500;
    line-height: 13px;
    text-align: left;

  }

  .customer-page-wrap {
    background-image: url('../src/images/screening/vector.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 150% 70%;
    overflow-x: hidden;
    /* background-color: cadetblue; */
  }

  .customer-btn-first {
    width: 90px;
    height: 31px;
    padding: 10px;
    gap: 10px;
    border-radius: 7px;
    font-family: "Satoshi";
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    text-align: left;
  }

  .customer-btn-first {
    width: 164px;
    height: 31px;
    padding: 10px;
    gap: 10px;
    border-radius: 7px;
    background: #DFFCE3;
  }

  .customer-btn-second {
    width: 164px;
    height: 31px;
    padding: 10px;
    gap: 10px;
    border-radius: 7px;
    background: #DFFCE3;
  }

  .screening-big-btn {
    width: 180px;
    height: 51px;
    padding: var(--sds-size-space-300);
    gap: var(--sds-size-space-200);
    border-radius: var(--sds-size-radius-200);
    border: var(--sds-size-stroke-border);
    text-wrap: nowrap;
    font-family: "Satoshi";
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    text-align: left;
    color: #285246;

  }

  .screening-big-btn-transparent {
    width: 170px;
    height: 51px;
    border-radius: 11px;
    border: 1px solid;

    font-family: "Satoshi";
    font-size: 14px;
    font-weight: 700;
    line-height: 37px;
    text-align: left;

  }

  .screening-section1-title {
    font-family: "Satoshi";
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -2px;
    text-align: center;
    color: #285246;
  }

  .screening-section1-content {
    font-family: "Satoshi";
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #285246;
  }

  .card-choice-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 25rem);
    /* Utilisez minmax pour une meilleure flexibilité */
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
  }

  .customer-selfie-img {
    height: 450px;
  }

  .take-selfie-title-screening {
    font-family: "Satoshi";
    font-size: 31px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    color: #285246;
  }

  .footer-page-order-other {
    background-image: url('../src/images/footer/vector-white.png');
    background-position: 10% 100%;
    background-repeat: no-repeat;
    background-size: 412px 250px;
  }
}

@media (max-width:400px) {
  .women-accueil-bg {
    height: 400px;
  }
}

.mini-nav-arrows {
  display: none;
}

@media (min-width:1023.20px) {
  .registration-bg {
    background-image: none;
    background-color: cadetblue;
  }
}

@media (max-width:1023.20px) {
  .mini-nav-arrows {
    display: block;
  }

  .mini-nav-without-arrow {
    display: none;
  }

  .mini-card-connexion {
    display: none;
  }

  .mini-card-connexion-mobile {
    display: block;
  }

  .footer-page {
    background-image: none;
  }

  .footer-title {
    text-align: center;
  }

  .footer-content {
    text-align: center;
  }

  .footer-page-order-other {
    background-image: url('../src/images/footer/vector-white.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 621px 331px;
  }

  .btn-footer {
    align-items: center;
  }

  .screening-section2-title {
    padding: 2rem 2rem;
  }

  .customer-page-vector {
    background-image: none;
  }

  .customer-page-wrap {
    width: 594px;
    height: 411.08px;
  }

  .respect-grid-title {
    font-family: "Satoshi";
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -1px;
    text-align: justify;
    color: #18382B;
  }

  .respect-grid-title {
    font-family: "Satoshi";
    font-size: 13px;
    font-weight: 500;
    text-align: justify;
    color: #18382B;
  }

  .customer-selfie-section {
    background-image: none;
  }

  .title-content {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    text-align: left;
  }

  .card-scroll-horiz-screening{
    margin-top: 1rem;
  }

  .section-about{
    background-image: none;
  }
  .about-cote{
    background-image: url("../src/images/page-2/cote.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .box-vector{
    background-image: none;
  }

  .bg-Box{
    background-image: none;
  }
  .bg-Box-middle{
    width: 481px;
    height: 336px;
    background-image: url("../src/images/about/boxBg.png");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: contain;
  }
  .bg-Box-world{
    background-image: none;
  }

}



/* @media (max-width:1116px) {
  .accueil .women-selfie {
    background-image: none;
  }
} */

@media (max-width:1400px) {
  .nav-items {
    display: none;
  }

  .menu-bars {
    display: block;
  }
}

@media (max-width:920px) {
  .sidebar-group-btn {
    display: block;
  }

  .nav-group-btn {
    display: none;
  }


  /* .menu-bars {
    display: block;
  } */

  /* .menu-bars-md{
    display: none;
  } */
}

@media (max-width:1000px) {
  .bg-phone {
    display: none;
  }

  .top-accordion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width:1023.20px) {
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .sub-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
  }

  .title-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .verification-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  /* .accueil-section1-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
  } */
}


/* customer side  */
@media (min-width:1500px) {
  .sub-title-page-2 {
    padding-top: 10rem;
  }

}

@media (min-width:1700px) {
  .accueil {
    margin: 0 6rem;
  }

  .sub-title-page-2 {
    padding-top: 10rem;
  }

  .screening {
    margin: 0 6rem;
  }

  .about {
    margin: 0 6rem;
  }

  .pricing {
    margin: 0 6rem;
  }

  .otp-verification {
    margin: 0 2rem;
  }

  .connexion {
    margin: 0 2rem;
  }

  .screening-card-absolute {
    top: 83%;
  }
}

@media (min-width:1800px) {
  .accueil {
    /* background-color: #256695; */
    margin: 0 10rem;
  }

  .screening {
    margin: 0 10rem;
  }

  .about {
    margin: 0 10rem;
  }

  .pricing {
    margin: 0 10rem;
  }

  .otp-verification {
    margin: 0 10rem;
  }

  .connexion {
    margin: 0 10rem;
  }

  .sub-title-page-2 {
    padding-top: 12rem;
  }
}

@media (min-width:1900px) {
  .accueil {
    /* background-color: #a6166c; */
    margin: 0 13rem;
  }

  .screening {
    margin: 0 13rem;
  }

  .about {
    margin: 0 13rem;
  }

  .pricing {
    margin: 0 13rem;
  }

  /* .otp-verification{
    margin: 0 13rem;
  } */

  .sub-title-page-2 {
    padding-top: 13rem;
  }
}

@media (min-width:2000px) {
  .accueil {
    /* background-color: #33a616; */
    margin: 0 20rem;
  }

  .screening {
    margin: 0 20rem;
  }

  .about {
    margin: 0 20rem;
  }

  .pricing {
    margin: 0 20rem;
  }

  .sub-title-page-2 {
    padding-top: 10rem;

  }

  .otp-verification {
    margin: 0 13rem;
  }

  .connexion {
    margin: 0 13rem;
  }

  .section-tree-col-selfie {
    left: 4%;
  }
}

/* @media (min-width:2300px) {
 
  .otp-verification{
    margin: 0 40rem;
  }
} */

@media (min-width:2400px) {

  .otp-verification {
    margin: 0 45rem;
  }

  .about {
    margin: 0 45rem;
  }

  .connexion {
    margin: 0 45rem;
  }
}

@media (min-width:2500px) {
  .accueil {
    /* background-color: #d4d723; */
    margin: 0 40rem;

  }

  /* .otp-verification{
    margin: 0 40rem;
  } */

  .screening {
    margin: 0 40rem;
  }

  .pricing {
    margin: 0 40rem;
  }

  .screening-card-absolute {
    top: 90%;
  }
}

/* page-2 customer page  */
.passport-page2 {
  position: absolute;
  top: -5%;
}

.respect-grid-title {
  font-family: "Satoshi";
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -1px;
  text-align: center;
  color: #18382B;
}

.respect-grid-content {
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #285246;
}

.take-selfie-title {
  font-family: "Satoshi";
  font-size: 29px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -1px;
  text-align: left;
  color: #285246;
}

.take-selfie-title-screening {
  font-family: "Satoshi";
  font-size: 31px;
  font-weight: 700;
  line-height: 37px;
  text-align: center;
  color: #285246;
}

.customer-selfie {
  bottom: 0%;
}

.customer-card {
  width: 337px;
  height: 352px;
  gap: 10px;
  border-radius: 25px;
  background: #F2F2F2;

}

.btn-customer-card {
  width: 133px;
  height: 24px;
  padding: 10px;
  gap: 10px;
  border-radius: 9px;

}

.btn-text-customer-card {
  font-family: "Lufga";
  font-size: 11px;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;

}

.customer-card-title {
  font-family: "Lufga";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -1px;
  text-align: left;
  color: #18382B;
}

.customer-card-content {
  font-family: "Inter";
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #767676;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  /* Masquer la barre de défilement sur Chrome/Safari */
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  /* Masquer la barre de défilement sur Internet Explorer et Edge */
  scrollbar-width: none;
  /* Masquer la barre de défilement sur Firefox */
}

/* start query connexion  */

.AI-logo {
  display: none;
}

@media (max-width : 1442px) {
  .connexion-picture {
    display: none;
  }

  .creation-picture {
    display: none;
  }

  .AI-logo {
    display: block;
    transform: rotate(-90deg);
    text-align: left;
    font-weight: 800;
    font-size: 28px;
    letter-spacing: -1px;
    color: #285246;
    letter-spacing: 2px;
  }
}

/* @media (max-width : 1170px) {
  .connexion-col-2{
    display: none;
  }
} */

/* end query connexion  */

@media (max-width:1293px) {
  .customer-selfie {
    display: none;
  }

  .customer-selfie-box {
    background-image: url('../src/images/page-2/takePhoto.png');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    /* background-color: cadetblue; */
  }
}

/* Animation keyframes*/

.img-sanction {
  animation-name: slideInFromBottom;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  /* animation-delay: .2s; */
}

@keyframes slideInFromBottom {

  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.img-detection-appareil {
  animation-name: slideInFromTop;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  /* animation-delay: .2s; */
}

@keyframes slideInFromTop {

  100% {
    transform: translateY(0);
    opacity: 1;
  }

  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
}

/* @keyframes slideInFromLeft {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
      transform: translateX(100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes arcIn {
  0% {
      transform: translate(50px, 50px) rotate(45deg);
      opacity: 0;
  }
  100% {
      transform: translate(0, 0) rotate(0);
      opacity: 1;
  }
} */



@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, Bli nkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3F3F3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}