@tailwind base;
@tailwind components;


:root {
  --sds-size-space-300: 1rem;
  /* ou toute autre valeur */
  --sds-size-space-200: 0.5rem;
  --sds-size-radius-200: 0.25rem;
  --sds-size-stroke-border: 1px solid #ccc;
  --Text-Brand-On-Brand: #F5F5F5;
  --sds-size-space-300: 1rem;
  --sds-size-space-200: 0.5rem
}

@font-face {
  font-family: "Satoshi";
  src: url('./assets/fonts/Satoshi/Fonts/OTF/Satoshi-Bold.otf') format('opentype'),
    url('./assets/fonts/Satoshi/Fonts/OTF/Satoshi-Medium.otf') format('opentype'),
  ;
}

@font-face {
  font-family: 'Lufga';
  src: url('./assets/fonts/Lufga/Demo_Fonts/Fontspring-DEMO-lufga-regular.otf') format('opentype'),
    url('./assets/fonts/Lufga/Demo_Fonts/Fontspring-DEMO-lufga-medium.otf') format('opentype');
}

@layer components {

  /* navbar */
  .logo {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
  }

  .nav-logo {
    font-family: "Satoshi";
    font-size: 30px;
    font-weight: bolder;
    line-height: 47px;
    letter-spacing: -2px;
    text-align: left;
    color: #285246;
  }

  .nav-language {
    font-family: "Inter";
    font-size: 15px;
    font-weight: 400;
    line-height: 15.13px;
    text-align: left;
    color: #000000;
  }

  nav ul li .text-nav {
    font-family: "Inter";
    font-size: 12.5px;
    font-weight: 400;
    line-height: 15.13px;
    text-align: left;
    color: #5A5A5A;
  }

  nav ul li svg {
    width: 11px;
    height: 5px;
  }

  .text-nav {
    font-family: "Inter";
    font-size: 12.5px;
    font-weight: 400;
    line-height: 15.13px;
    text-align: left;
    color: #5A5A5A;
  }

  .btn {
    width: 236px;
    height: 50px;
    padding: 1rem;
    gap: .5rem;
    border-radius: .5rem;
  }

  .btn-nav {
    width: 160px;
    height: 45px;
    padding: 1rem;
    gap: .5rem;
    border-radius: .5rem;
  }

  .btn-nav-text {
    font-family: "Satoshi";
    font-size: 16px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
    color: #F5F5F5;
  }

  .btn-verification {
    width: 183px;
    height: 33px;
    padding: 10px;
    gap: 10px;
    background: #FFFFFF;
  }

  .btn-verification-text {
    font-family: "Satoshi";
    font-size: 11px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: #285246;
  }

  .btn-text {
    font-family: "Satoshi";
    font-size: 15px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    color: var(--Text-Brand-On-Brand);
  }

  .btn-icon-circle {
    width: 32px;
    height: 32px;
    padding: 10px 5px 10px 5px;
    gap: 10px;
    border-radius: 31px;
    color: #285246F5;
  }

  /* section-1  */
  .btn-icon-cart {
    width: 70px;
    height: 70px;
    gap: 0px;
    border-radius: 31px;
    background: #B9FFC469;
  }

  .card-icon-title {
    font-family: "Satoshi";
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #285246;
  }


  .card-icon-content {
    font-family: "Inter";
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #285246;
  }

  /* end section-1  */


  .card-choice {
    width: 219px;
    height: 131px;
    padding: 16px 13px 16px 13px;
    gap: 10px;
    border-radius: 7px;
    background: #DFFCE3;
  }

  .card-choice-title {
    font-family: "Satoshi";
    font-size: 29px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -2px;
    text-align: center;
    color: #2CE5B1;
  }

  .card-choice-content {
    font-family: "Satoshi";
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    text-align: center;
    color: #285246;
  }

  .mini-card-connexion {
    display: grid;
    grid-template-columns: repeat(auto-fit, 13rem);
    /* Utilisez minmax pour une meilleure flexibilité */
    align-items: center;
    justify-content: center;
    gap: 19px;
  }

  .card-choice-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 15rem);
    /* Utilisez minmax pour une meilleure flexibilité */
    align-items: center;
    justify-content: center;
    gap: 19px;
    padding: 2rem 0 12rem 0;
  }

  .mini-card-square {
    width: 164px;
    height: 164px;
    gap: 0px;
    border-radius: 29px;
    background: #EBEBEB;
  }

  .mini-card-square-title {
    font-family: "Satoshi";
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;

  }

  .mini-card-square-content {
    font-family: "Satoshi";
    font-size: 10px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;

  }

  .accordion-title {
    font-family: "Satoshi";
    font-size: 12px;
    font-weight: 900;
    line-height: 19px;
    text-align: left;
    color: #285246;
  }

  .accordion-content {
    font-family: "Satoshi";
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    color: #285246;
  }


  .btn-small {
    width: 111px;
    height: 25px;
    padding: 10px;
    gap: 10px;
    border-radius: 11px;
    background: #2CE5B1;
  }

  .btn-choice {
    width: 139px;
    height: 34px;
    padding: 10px 10px 10px 10px;
    gap: 10px;
    border-radius: 11px;
    background: #2CE5B1;
    font-family: Satoshi;
    font-size: 11px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
  }

  .btn-about-us {
    width: 111px;
    height: 25px;
    padding: 10px;
    gap: 10px;
    border-radius: 50%;
    font-family: "Satoshi";
    font-size: 11px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    background: #2CE5B1;

  }

  .big-btn-about-us {
    width: 182px;
    height: 51px;
    top: 4717px;
    left: 190px;
    padding: 1rem;
    gap: .5rem;
    border-radius: .5rem;
    font-family: "Satoshi";
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    color: #F5F5F5
  }

  /* .roboto-medium {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
  } */

  .title {
    font-family: "Satoshi";
    font-size: 45px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -2px;
    text-align: left;
    color: #285246;
  }

  .title-content {
    font-family: "Satoshi";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #285246;
  }

  .sub-title {
    font-family: "Satoshi";
    font-size: 35px;
    font-weight: 500;
    line-height: 37px;
    text-align: left;
    color: #285246
  }

  .title-1 {
    font-family: "Satoshi";
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -1px;
    text-align: left;
    color: #285246
  }

  .title-content-1 {
    font-family: "Satoshi";
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #285246
  }

  .title-content-card {
    font-family: "Satoshi";
    font-size: 12px;
    font-weight: 500;
    line-height: 13px;
    text-align: left;
    color: #285246
  }

  .card-vert {
    width: 441px;
    height: 118px;
    gap: 0px;
    border-radius: 29px;
    background: #2CE5B1;
  }

  .card-horiz {
    width: 205px;
    height: 264px;
    gap: 0px;
    border-radius: 29px;
    background: #2CE5B1;
  }

  .small-check-circle {
    width: 25px;
    height: 25px;
    gap: 0px;
    background: #2CE5B1;
    color: white;
    padding: .2rem;
  }

  .content-small-circle-check {
    font-family: "Satoshi";
    font-size: 12px;
    font-weight: 500;
    line-height: 13px;
    text-align: left;
    color: #285246;
  }

  .cniPassport {
    top: -25%;
    left: 10%
  }
}

.sidebar-group-btn {
  display: none;
}

.menu-bars {
  display: none;
}

.accueil .women-selfie {
  background-image: url("../src/images/women--background-accueil.png");
  background-repeat: no-repeat;
  background-position: 100% 10%;
}

.world-section {
  background-image: url("../src/images/world.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.background-footer {
  background-image: url("../src/images/Vector.png");
  background-repeat: no-repeat;
  background-position: 100% 10%;
  background-size: cover;
  width: 715.18px;
  height: 381.01px;
}

.grid-footer-grid-title {
  font-family: "Lufga";
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #285246
}

.grid-footer-grid-content {
  font-family: Open Sans Hebrew;
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #285246;
}

.footer-grid-logo {
  font-family: "Satoshi";
  font-size: 20px;
  font-weight: bold;
  line-height: 47px;
  letter-spacing: -2px;
  text-align: left;
  color: #285246;
}

/* @media (max-width:1390px) {

  .background-footer{
    width: 690px;
    height:300px;

  }
  .main-footer{
    padding: 2rem;
  }
} */

.section-tree-col-selfie {
  margin: 0 5rem;
}

.cni-img {
  position: absolute;
  top: -23%;
  left: 0;
}

.bigMother {
  position: absolute;
  top: -45.5%;
  left: 3%;
}



.groupDatabase {
  position: absolute;
  top: 5%;
  left: 0;
  height: 90%;
}

.group-card-vert {
  padding: 0 3rem;
}

.group-card-horiz {
  padding: 0 3rem;
}

.mini-nav-items .mini-nav-item-active {
  border-bottom: solid 5px #5edeaf;
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-wrap: nowrap;
}

.mini-nav-btn {
  width: 111px;
  height: 25px;
  padding: 10px;
  gap: 10px;
  border-radius: 11px;
}

.mini-nav-btn-text {
  font-family: "Satoshi";
  font-size: 11px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

.mini-nav-side-title {
  font-family: "Lufga";
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -1px;
  text-align: left;
  color: #18382B;
}

.mini-nav-side-content {
  font-family: "Satoshi";
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  color: #1E1E1E;
}

.mini-nav-grid-title {
  font-family: "Satoshi";
  font-size: 12px;
  font-weight: 700;
  line-height: 13px;
  text-align: left;
  color: #285246;
}

.mini-nav-grid-content {
  font-family: "Satoshi";
  font-size: 12px;
  font-weight: 500;
  line-height: 13px;
  text-align: left;
  color: #285246;
}

.mini-nav-option {
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-wrap: nowrap;
  padding: 10px 0;
  color: #18382B;
}

/* page Know your customer  */

.customer-btn-first {
  width: 90px;
  height: 31px;
  padding: 10px;
  gap: 10px;
  border-radius: 7px;
  background: #DFFCE3;

}

.customer-btn-second {
  width: 164px;
  height: 31px;
  padding: 10px;
  gap: 10px;
  border-radius: 7px;
  background: #DFFCE3;
}

.text-btn {
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
}

.title-page-2 {
  font-family: "Satoshi";
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: -2px;
  text-align: left;
  color: #285246;
}

.title-content-page-2 {
  font-family: "Satoshi";
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #285246;
}

.customer-page {
  padding: 10rem 0;
  background-image: url('../src/images/bg-page-2.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: 50%
}



.sub-title-page-2 {
  margin-left: 3rem;
  padding: 0 2rem;
}

.screening-section2-title {
  padding: 15rem 8.5rem 0 8.5rem;
}

@media (max-width:1432px) {
  .customer-page {
    background-position: 100% 60%;
  }
}

@media (max-width:1168px) {
  .customer-page {
    background-position: 100% 65%;
  }
}

@media (max-width:1024px) {
  .order-img {
    order: 1;
  }
}

.phone-accordion {
  padding: 0 5rem;
}

.footer-section {
  padding: 0 5rem;
}

@media (max-width : 736px) {
  .accueil .women-selfie {
    background-image: none;
  }

  /* .accueil .women-selfie .title{
    text-align: justify;
  } */
  .accueil .women-selfie .accueil-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: auto;
    margin: 0 1rem;
  }

  .background-footer {
    display: none;
  }

  .section-tree-col-selfie {
    margin: 0 1rem;
  }

  .footer-section {
    padding: 0 2rem;
  }

  .card-vert {
    width: 300px;
    height: 80px;
  }

  .card-horiz {
    width: 150px;
    height: 180px;
  }

  .bigMother {
    position: absolute;
    top: -45%;
    left: 11%;
    width: 90%;
  }

  .group-card-vert {
    padding: 0 2rem;
  }

  .group-card-horiz {
    padding: 0 2rem;
  }

  .cni-img {
    position: absolute;
    top: -20%;
    left: 0;
  }

  .section-choise-us {
    padding: 0 1rem;
  }

  .world-section {
    background-size: contain;
    padding: 0 2rem;
  }

  .phone-accordion {
    padding: 0 2rem;
  }

  .img-arrow {
    display: none;
  }

  .card-choice {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 160px;
  }

  .card-choice-items {
    gap: 19px;
  }

  .mini-card-square {
    width: 300px;
    height: 200px;
  }

}

.accordion {
  display: none;
}

/* start customer page */
.customer-page {
  width: 383.97px;
  height: 387px;
  bottom: 16%;
  right: 15%;
  background-size: contain;
  background-image: url('../src/images/customer/customer-bg.png');
  background-repeat: no-repeat;
}

/* end customer page  */

/*start screening page  */

.screening-page {
  background-image: url('../src/images/screening/vector.png');
  background-position: 90% 60%;
  /* Ajustez la position selon vos besoins */
  background-repeat: no-repeat;
  /* Évite la répétition des images */
}

.screening-absolute-bg {
  width: 383.97px;
  height: 387px;
  bottom: 16%;
  right: 15%;
  background-image: url('../src/images/screening/screening-bg.png');
  background-repeat: no-repeat;
}

/* start footer  */
.footer-absolute-bg {
  width: 422px;
  height: 449px;
  bottom: 2%;
  right: 10%;
  background-image: url('../src/images/footer/footer-bg.png');
  background-repeat: no-repeat;
}

.footer-page {
  background-image: url('../src/images/footer/vector-white.png');
  background-position: 100% 10%;
  /* Ajustez la position selon vos besoins */
  background-repeat: no-repeat;
  /* Évite la répétition des images */
}

/* end footer  */

/* start pricing */
.pricing-input {
  width: 277px;
  height: 50px;
  padding: var(--sds-size-space-300);
  gap: var(--sds-size-space-200);
  border-radius: var(--sds-size-radius-200);
  background: #F3F3F3;
}

.pricing-get-account-link {
  font-family: Lufga;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  color: #285246;
}

.pricing-contact-btn {
  padding-top: 5rem;
  width: 111px;
  height: 25px;
  padding: 10px;
  gap: 10px;
  border-radius: 11px;
  background: #2CE5B1;
  font-family: Satoshi;
  font-size: 11px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: white;
}

.pricing-title {
  font-family: "Satoshi";
  font-size: 33px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: -2px;
  text-align: left;
  color: #285246;
}

.pricing-content {
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #1E1E1E;
}

.pricing-label {
  font-family: "Satoshi";
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  color: #5B5B5B;
}

/* end pricing  */

.screening-section1-title {
  font-family: "Satoshi";
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: -2px;
  text-align: left;
  color: #285246;
}

.screening-section1-content {
  font-family: "Satoshi";
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: #285246;
}

.screening-big-btn {
  width: 182px;
  height: 51px;
  padding: var(--sds-size-space-300);
  gap: var(--sds-size-space-200);
  border-radius: var(--sds-size-radius-200);
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
  color: #285246;
}

.screening-big-btn-transparent {
  width: 239px;
  height: 51px;
  font-family: "Satoshi";
  border-radius: var(--sds-size-radius-200);
  font-size: 14px;
  font-weight: 700;
  line-height: 37px;
  text-align: left;
  color: #285246;
}

.screening-section1-card-title {
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  color: #285246;
}

.screening-section1-card-content {
  font-family: "Satoshi";
  font-size: 11px;
  text-align: left;
  color: #285246;
}

.screening-card-absolute {
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  /* Ajustez cette valeur selon vos besoins */
  max-width: 1500px;
  /* Limite la largeur maximale si nécessaire */
  top: 80%;
  /* Optionnel si vous souhaitez centrer verticalement */
  margin: 0 auto;
}

.screening-section2-title {
  font-family: "Satoshi";
  font-size: 35px;
  font-weight: 500;
  line-height: 37px;
  text-align: left;
  color: #285246;
}

.screening-horiz-vert-title {
  font-family: "Satoshi";
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -1px;
  text-align: left;
  color: #285246;
}

.screening-horiz-vert-content {
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #285246;
}

.screening-grid-title {
  font-family: "Satoshi";
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  text-align: left;
  color: #285246;
}

.screening-grid-content {
  font-family: "Satoshi";
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: left;
  color: #285246;
}

.sreening-demo-absolute {
  left: 50%;
  transform: translateX(-50%);
  top: 80%;
}

@media (min-width:1400) {
  .screening-section2-title {
    padding-top: 15rem;
  }

  .screening-section2-title {
    padding: 15rem 8.5rem 0 8.5rem;
  }
}

@media (min-width:1500px) {
  .screening-section2-title {
    padding-top: 13rem;
  }
}


/* end screening page */


@media (max-width:1540px) {
  .sub-title-page-2 {
    padding-top: 12rem;
  }

  .screening-section2-title {
    padding: 17rem 8.5rem 0 8.5rem;
  }
}

@media (max-width:1416px) {
  .sub-title-page-2 {
    padding-top: 16rem;
  }

  .screening-section2-title {
    padding: 21rem 8.5rem 0 8.5rem;
  }
}

@media (max-width:1236px) {
  .sub-title-page-2 {
    padding-top: 20rem;
  }
}

@media (max-width:1070px) {
  .sub-title-page-2 {
    padding-top: 24rem;
  }

  .screening-section2-title {
    padding: 22rem 8.5rem 0 8.5rem;
  }
}

@media (max-width:960px) {
  .sub-title-page-2 {
    padding-top: 24rem;
  }

  .screening-section2-title {

    padding: 27rem 8.5rem 0 8.5rem;
  }
}

@media (max-width:936px) {
  .sub-title-page-2 {
    padding-top: 25rem;
  }

  .screening-section2-title {
    padding: 30rem 8.5rem 0 8.5rem;
  }
}

@media (max-width:832px) {
  .sub-title-page-2 {
    padding-top: 35rem;
  }

  .screening-section2-title {
    padding: 32rem 8.5rem 0 8.5rem;
  }
}

@media (max-width:778px) {
  .sub-title-page-2 {
    padding-top: 40rem;
  }

  .screening-section2-title {
    padding: 40rem 8.5rem 0 8.5rem;
  }
}

@media (max-width:768px) {
  .section-tree-col-selfie {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width:884px) {
  .not-accordion {
    display: none;
  }

  .accordion {
    display: block;
    padding: 3rem 4rem;
  }
}

@media (max-width:1116px) {
  .accueil .women-selfie {
    background-image: none;
  }
}


@media (max-width:920px) {
  .sidebar-group-btn {
    display: block;
  }

  .nav-group-btn {
    display: none;
  }
}

@media (max-width:1400px) {
  .nav-items {
    display: none;
  }

  .menu-bars {
    display: block;
  }
}

@media (max-width:1000px) {
  .bg-phone {
    display: none;
  }

  .top-accordion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}

/* customer side  */
@media (min-width:1500px) {
  .sub-title-page-2 {
    padding-top: 10rem;
  }
}

@media (min-width:1700px) {
  .accueil {
    /* background-color: #c04949; */
    margin: 0 6rem;
  }

  .sub-title-page-2 {
    padding-top: 10rem;
  }

  .screening {
    margin: 0 6rem;
  }

  .screening-card-absolute {
    top: 83%;
  }
}

@media (min-width:1800px) {
  .accueil {
    /* background-color: #256695; */
    margin: 0 10rem;
  }

  .screening {
    margin: 0 10rem;
  }

  .sub-title-page-2 {
    padding-top: 12rem;
  }
}

@media (min-width:1900px) {
  .accueil {
    /* background-color: #a6166c; */
    margin: 0 13rem;
  }

  .screening {
    margin: 0 13rem;
  }

  .sub-title-page-2 {
    padding-top: 13rem;
  }
}

@media (min-width:2000px) {
  .accueil {
    /* background-color: #33a616; */
    margin: 0 20rem;
  }

  .screening {
    margin: 0 20rem;
  }

  .sub-title-page-2 {
    padding-top: 10rem;

  }

  .section-tree-col-selfie {
    left: 4%;
  }
}

@media (min-width:2500px) {
  .accueil {
    /* background-color: #d4d723; */
    margin: 0 40rem;

  }

  .screening {
    margin: 0 40rem;
  }

  .screening-card-absolute {
    top: 90%;
  }
}

/* page-2 customer page  */
.passport-page2 {
  position: absolute;
  top: -5%;
}

.respect-grid-title {
  font-family: "Satoshi";
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -1px;
  text-align: center;
  color: #18382B;
}

.respect-grid-content {
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #285246;
}

.take-selfie-title {
  font-family: "Satoshi";
  font-size: 29px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -1px;
  text-align: left;
  color: #285246;
}

.customer-selfie {
  bottom: -0.2%;
}

.customer-card {
  width: 337px;
  height: 352px;
  gap: 10px;
  border-radius: 25px;
  background: #F2F2F2;

}

.btn-customer-card {
  width: 133px;
  height: 24px;
  padding: 10px;
  gap: 10px;
  border-radius: 9px;

}

.btn-text-customer-card {
  font-family: "Lufga";
  font-size: 11px;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;

}

.customer-card-title {
  font-family: "Lufga";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -1px;
  text-align: left;
  color: #18382B;
}

.customer-card-content {
  font-family: "Inter";
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #767676;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  /* Masquer la barre de défilement sur Chrome/Safari */
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  /* Masquer la barre de défilement sur Internet Explorer et Edge */
  scrollbar-width: none;
  /* Masquer la barre de défilement sur Firefox */
}

@media (max-width:1293px) {
  .customer-selfie {
    display: none;
  }

  .customer-selfie-box {
    background-image: url('../src/images/page-2/takePhoto.png');
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
  }
}

@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, Bli nkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3F3F3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}